* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-rows: 1fr 1fr 2fr;
    width: 100%;
    height: 100dvh;
}

.painel-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}
#expr-pergunta{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    font-size: 7em;
}
#expr-resposta {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 7em;
}
.painel-middle{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 7em;
}
#timer{
    display: grid;
    justify-content: center;
    align-items: center;
}
.status {
    display: grid;
}
#acertos {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    color: white;
}
#derrotas {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: black;
}
.painel-down{
    display: inline-block;
    width: 100%;
}

.numerico {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.numerico button {
    background-color: black;
    color: white;
    font-size: 3em;
}
